body {
  font: $font-size-base $font-global;
  line-height: 1.2;
  color: $color-black;
}

.app {

  &__title {
    font: 40px $font-global-bold;
    color: $color-white;
  }

  &-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &-main {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }

  &__success {
    background: $success;
  }

  &__error {
    background: $error;
  }
}

.fa-check {
  color: $success;
}

.fa-times {
  color: $error;
}

.active {
  color: $activeLink;
}

