body {
  font: $font-size-base $font-global;
  line-height: 1.2;
  color: $color-black;
}

.app {

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__title {
    font: 40px $font-global-bold;
    color: $color-white;

    &_center {
      text-align: center;
    }

    &_margin {
      margin-bottom: 5px;
    }
  }

  &-field {
    margin-bottom: 15px;

    &__select {
      margin-bottom: 15px;
      display: flex;
      border: 1px solid $hoverEffect;
      border-radius: $borderRadius;
      width: 100%;
      height: 40px;
      padding: 12px;
      font: $font-size-base $font-global;
      line-height: 1.42 ;
      transition: border-color .15s ease-in;
    }

    &__error {
      color: $error;
      font-size: 10px;
    }

    &__label {
      font-weight: bold;
      font-size: 10px;
    }

    &__input {
      border: 1px solid $hoverEffect;
      border-radius: $borderRadius;
      width: 100%;
      height: 40px;
      padding: 12px;
      font: $font-size-base $font-global;
      line-height: 1.42 ;
      transition: border-color .15s ease-in;
    }
  }

  &-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &-main {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }

  &__success {
    background: $success;
  }

  &__error {
    background: $error;
  }
}

.fa-check {
  color: $success;
}

.fa-times {
  color: $error;
}

.active {
  color: $activeLink;
}

