@import "../../../assets/scss/variables";

.drawer {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: $color-white;
  width: 80%;
  max-width: 300px;
  padding: 20px 10px;
  transform: translateX(0px);
  transition: transform .15s ease-in;
  z-index: 11;

  &_close {
    transform: translateX(-300px);
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    margin-bottom: 15px;
    text-align: left;
    padding: 5px;
    text-transform: uppercase;
    transition: opacity .15s ease-in;

    &:hover {
      opacity: .7;
    }
  }

  &__link {
    text-decoration: none;
  }
}
