@import "src/assets/scss/variables";

.quiz {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex: 1;
  width: 100%;
  background: linear-gradient(90deg, $color-gradient-start 0%, $color-gradient-end 100%);

  &__title {
    font-size: 20px;
    color: $color-white;
    margin-bottom: 20px;
  }

  &__wrapper {
    max-width: 600px;
    width: 100%;
  }
}
